* {
  color: #BA005C;
}

.title {
  color: #BA005C;
  font-size: 16px;
  font-weight: bold;
}

header {
  background-color: #FFD9E1;
  border-bottom: 1px solid #D6C2C5;
}

h1 {
  font-size: 24px;
  margin: 0;
  text-align: center;
}