<header>
  <h1>Detalhes do usuário</h1>
</header>
<mat-list>
  <mat-list-item> <span class="title">Nome:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Email:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Senha:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Idade:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Endereço:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Telefone:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Ativo:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Função:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Data cadastro:</span> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> <span class="title">Status:</span> </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>